<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse3310.cse3310_group_one_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Register">
            
        </activity>
        <activity android:name=".Activities.CatererAddResources">
            
        </activity>
        <activity android:name=".Activities.CatererApproveEvent">

        </activity>
        <activity android:name=".Activities.CatererAssignStaff">
            
        </activity>
        <activity android:name=".Activities.CatererEditEvent">
            
        </activity>
        <activity android:name=".Activities.CatererHomepage">
            
        </activity>
        <activity android:name=".Activities.CatererRemoveResources">
            
        </activity>
        <activity android:name=".Activities.CatererRemoveStaff">
            
        </activity>
        <activity android:name=".Activities.CatererRequestedEvents">
            
        </activity>
        <activity android:name=".Activities.CatererReservedEvents">

        </activity>
        <activity android:name=".Activities.CatererViewUserInfo">

        </activity>
        <activity android:name=".Activities.EditAccount">

        </activity>
        <activity android:name=".Activities.ProfileManagement">

        </activity>
        <activity android:name=".Activities.StaffAssignedEvents">

        </activity>
        <activity android:name=".Activities.StaffHomepage">

        </activity>
        <activity android:name=".Activities.UserEventDetails">

        </activity>
        <activity android:name=".Activities.UserHomepage">

        </activity>
        <activity android:name=".Activities.UserRequestEvent">

        </activity>
        <activity android:name=".Activities.UserReservedEvents">

        </activity>
        <activity android:name=".Activities.UserSchedule">

        </activity>
        <activity android:name=".Activities.UserStaffReservedEventDetails">

        </activity>
        <activity android:name=".Activities.UserViewRequestedEvents">

        </activity>
        <activity android:name=".Activities.ViewCatererInfo">

        </activity>
    </application>

</manifest>